<div
  pRipple
  class="flex h-16 w-16 cursor-pointer items-center justify-center rounded-full text-white"
  [ngStyle]="
    isHovered
      ? { backgroundColor: 'var(--primary-600)' }
      : { backgroundColor: 'var(--primary-500)' }
  "
  (mouseover)="isHovered = true"
  (mouseleave)="isHovered = false"
  (click)="isFormDialogVisible = true"
>
  <span class="text-4xl font-bold">＋</span>
</div>

<page-add-task-form-dialog
  [(isVisible)]="isFormDialogVisible"
  (onComplete)="onComplete.emit()"
></page-add-task-form-dialog>
