<p-dialog
  header="Add task"
  [modal]="true"
  [closable]="false"
  [(visible)]="isVisible"
  [style]="{ width: '90dvw' }"
>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-1">
        <input
          type="text"
          pInputText
          formControlName="title"
          [class]="shouldShowTitleError ? 'ng-invalid ng-dirty' : ''"
        />
        <span class="h-5 text-sm" [style]="{ color: 'var(--red-500)' }">
          @if (shouldShowTitleError) {
            {{ titleError }}
          }
        </span>
      </div>
      <div class="flex flex-row justify-end gap-4">
        <p-button label="Cancel" severity="secondary" (click)="onCancel()" />
        <p-button type="submit" label="Add" />
      </div>
    </div>
  </form>
</p-dialog>
