<p-dialog
  header="Add task"
  [modal]="true"
  [closable]="false"
  [(visible)]="isVisible"
  [style]="{ width: '90dvw' }"
>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="flex flex-col gap-6">
      <div class="flex flex-col items-end">
        <input
          type="text"
          pInputText
          formControlName="title"
          class="w-full"
          [ngClass]="shouldShowTitleError ? 'ng-invalid ng-dirty' : ''"
        />
        @if (shouldShowTitleError) {
          <span class="text-sm" [ngStyle]="{ color: 'var(--red-500)' }">
            {{ titleError }}
          </span>
        }
      </div>
      <div class="flex flex-row justify-end gap-4">
        <p-button label="Cancel" severity="secondary" (click)="onCancel()" />
        <p-button type="submit" label="Add" />
      </div>
    </div>
  </form>
</p-dialog>
