<div class="flex h-screen flex-col">
  <div
    class="flex items-center justify-center p-4 text-white"
    [ngStyle]="{ backgroundColor: 'var(--primary-500)' }"
  >
    <h1 class="text-2xl font-bold">My Tasks</h1>
  </div>
  @if (isTasksReady) {
    @if (tasks.length > 0) {
      <div
        class="flex grow flex-col gap-4 overflow-y-auto p-4"
        [ngStyle]="{ backgroundColor: 'var(--surface-100)' }"
      >
        <div
          *ngFor="let task of tasks"
          class="flex flex-row items-start gap-4 rounded-xl bg-white p-4"
        >
          <p-checkbox
            [(ngModel)]="checkedTaskIDs"
            [value]="task.id"
            [readonly]="isTaskCompleting"
            (onChange)="onChangeTaskCheckbox(task)"
          />
          <p class="min-w-0 break-words text-lg leading-6">
            {{ task.title }}
          </p>
        </div>
      </div>
    } @else {
      <div
        class="flex grow items-center justify-center"
        [ngStyle]="{ backgroundColor: 'var(--surface-100)' }"
      >
        <p class="text-xl">No tasks! Happy!</p>
      </div>
    }
  }
</div>
<app-add-task-button
  class="absolute bottom-4 right-4 z-10"
  (complete)="onCompleteAddTask()"
></app-add-task-button>
